@{
ViewData["Title"]="Listado";
}

<a asp-action="Crear" asp-controller="Imagen" class="btn btn-outline-primary">Crear Registro</a>
<br />
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach(var item in ViewBag.listado)
    {
    <div class="col">
        <div class="card h-100">
            <img src="data:image/jpg; base64, @item.Image" style="max-height: 30vh; object-fit:contain;"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Nombre</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-warning" asp-action="Editar" asp-controller="Imagen" type="button"
                    asp-route-id="@item.Id_Imagen">Editar</a>
                <a class="btn btn-outline-danger" asp-action="Eliminar" asp-controller="Imagen" type="button"
                    asp-route-id="@item.Id_Imagen">Eliminar</a>
            </div>
        </div>
    </div>
    }
</div>